<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>crudappgenahm23</display-name>
  <welcome-file-list>
    <welcome-file>home.jsp</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>com.crudappgenahm23.listener.MyServletRequestListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.crudappgenahm23.listener.MyHttpSessionListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.crudappgenahm23.listener.MyServletContextListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>InsertStudentServlet</display-name>
    <servlet-name>InsertStudentServlet</servlet-name>
    <servlet-class>com.crudappgenahm23.controller.InsertStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertStudentServlet</servlet-name>
    <url-pattern>/insertStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListStudentServlet</display-name>
    <servlet-name>ListStudentServlet</servlet-name>
    <servlet-class>com.crudappgenahm23.controller.ListStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListStudentServlet</servlet-name>
    <url-pattern>/listStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteStudentServlet</display-name>
    <servlet-name>DeleteStudentServlet</servlet-name>
    <servlet-class>com.crudappgenahm23.controller.DeleteStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteStudentServlet</servlet-name>
    <url-pattern>/deleteStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditStudentServlet</display-name>
    <servlet-name>EditStudentServlet</servlet-name>
    <servlet-class>com.crudappgenahm23.controller.EditStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditStudentServlet</servlet-name>
    <url-pattern>/editStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateStudentServlet</display-name>
    <servlet-name>UpdateStudentServlet</servlet-name>
    <servlet-class>com.crudappgenahm23.controller.UpdateStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStudentServlet</servlet-name>
    <url-pattern>/updateStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.crudappgenahm23.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.crudappgenahm23.controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginByCoockieServlet</display-name>
    <servlet-name>LoginByCoockieServlet</servlet-name>
    <servlet-class>com.crudappgenahm23.controller.LoginByCoockieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginByCoockieServlet</servlet-name>
    <url-pattern>/loginByCoockieServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllCookiesServlet</display-name>
    <servlet-name>GetAllCookiesServlet</servlet-name>
    <servlet-class>com.crudappgenahm23.controller.GetAllCookiesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllCookiesServlet</servlet-name>
    <url-pattern>/GetAllCookiesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InvalidateUserByCookieServlet</display-name>
    <servlet-name>InvalidateUserByCookieServlet</servlet-name>
    <servlet-class>com.crudappgenahm23.controller.InvalidateUserByCookieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InvalidateUserByCookieServlet</servlet-name>
    <url-pattern>/InvalidateUserByCookieServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FirstServlet</display-name>
    <servlet-name>FirstServlet</servlet-name>
    <servlet-class>com.crudappgenahm23.controller.FirstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstServlet</servlet-name>
    <url-pattern>/FirstServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyServletRequestAttributeListener</display-name>
    <servlet-name>MyServletRequestAttributeListener</servlet-name>
    <servlet-class>com.crudappgenahm23.listener.MyServletRequestAttributeListener</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyServletRequestAttributeListener</servlet-name>
    <url-pattern>/MyServletRequestAttributeListener</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>com.crudappgenahm23.listener.MyServletRequestAttributeListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>SecondServlet</display-name>
    <servlet-name>SecondServlet</servlet-name>
    <servlet-class>com.crudappgenahm23.controller.SecondServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SecondServlet</servlet-name>
    <url-pattern>/SecondServlet</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>com.crudappgenahm23.listener.MyHttpSessionAttributeListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.crudappgenahm23.listener.MyServletContextAttributeListener</listener-class>
  </listener>
</web-app>